{{- $name := promptStringOnce . "name" "name" -}}
{{- $email := promptStringOnce . "email" "email" -}}
encryption = "age"

[age]
  passphrase = true

[data]
  name = "{{ $name }}"
  email = "{{ $email }}"
